/* ========================== */
/* GLOBAL */
/* ========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ff6600;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #ffe2cc;
}
