/* ========================== */
/* GENEL AYARLAR */
/* ========================== */

body {
  background: linear-gradient(135deg, #ff6600 0%, #ff8c42 50%, #ffe2cc 100%);
  height: 100vh;
  overflow: hidden;
}


.login-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/teknosa_arkaplan.png') no-repeat center center;
  background-size: cover;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(200, 200, 200, 0.3);
  z-index: 0;
}

.login-box {
  position: relative;
  z-index: 1;
  background: rgba(255,255,255,0.25);
  padding: 40px 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 8px rgba(0,0,0,0.35);
  overflow: hidden;
  backdrop-filter: blur(6px);
}

.login-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 2px;
  pointer-events: none;
  background: conic-gradient(
    from 0deg,
    transparent 0%,
    #ff8800 12%,
    transparent 25%,
    transparent 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  animation: borderRotate 5s linear infinite;
}

@keyframes borderRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.login-header {
  text-align: center;
}

.login-box .logo {
  width: 180px;
  margin-bottom: 15px;
}

.login-title {
  color: #ff6600;
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow:
    0 0 3px rgba(255,120,0,0.6),
    0 0 8px rgba(255,150,0,0.5);
  animation: glowPulse 2.5s ease-in-out infinite alternate;
}

@keyframes glowPulse {
  0% { text-shadow: 0 0 3px rgba(255,120,0,0.6); }
  100% { text-shadow: 0 0 10px rgba(255,150,0,0.7); }
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s;
}

input:focus {
  border-color: #ff6600;
  box-shadow: 0 0 8px rgba(255,100,0,0.7);
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #ff6600;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #e65c00;
  box-shadow: 0 0 10px rgba(255,120,0,0.7);
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}
